# ===========================================
# ENTORNO VIRTUAL
# ===========================================
.venv/

# ===========================================
# VARIABLES DE ENTORNO
# ===========================================
.env

# ===========================================
# PYTHON
# ===========================================
__pycache__/
*.py[cod]
*.pyo

# ===========================================
# LOGS
# ===========================================
logs/

# ===========================================
# BASE VECTORIAL
# ===========================================
vector_db/

# ===========================================
# macOS
# ===========================================
.DS_Store

# ===========================================
# VS CODE
# ===========================================
.vscode/

# ===========================================
# ARCHIVOS TEMPORALES
# ===========================================
*.log